#container urls:
# SAS url's can be found in your containers in Azure blob storage
TRANSCRIPT_SAS_URL=
MEETING_NOTE_SAS_URL=

# found my creating an instance of an OpenAI model on Azure foundry
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=
# text-embedding-3-large API key: 
AZURE_OPENAI_API_EMBEDDING_KEY=

# Found upon creation of an Azure AI search client
AZURE_SEARCH_KEY=
AZURE_SEARCH_ENDPOINT=

# For Langextract:
# The LLM used for LangExtract cannot accept Azure OPENAI so you need an OPENAI key:
OPENAI_API_KEY=

#Jira cloud
JIRA_API_TOKEN=
JIRA_EMAIL=
# JIRA_DOMAIN found at url on your jira account e.g: xyz.atlassian.net#
JIRA_DOMAIN=